# Giscus 评论配置
GATSBY_GISCUS_REPO=tabsp/comments
GATSBY_GISCUS_REPO_ID=R_kgDOHcCUDA
GATSBY_GISCUS_CATEGORY=Announcements
GATSBY_GISCUS_CATEGORY_ID=DIC_kwDOHcCUDM4CPbjE
GATSBY_GISCUS_MAPPING=pathname
GATSBY_GISCUS_STRICT=0
GATSBY_GISCUS_REACTIONS=1
GATSBY_GISCUS_EMIT_METADATA=0
GATSBY_GISCUS_INPUT_POSITION=bottom
GATSBY_GISCUS_THEME=dark
GATSBY_GISCUS_LANG=en
